{% load staticfiles %}
{% block CSS %}
<link rel="stylesheet" href="{% static 'mainpage/script/photobox/photobox.css' %}">
<link rel="stylesheet" href="{% static 'mainpage/script/galereya-latest/css/jquery.galereya.ie.css' %}">
{% endblock %}
{% verbatim %}
<div galery="">
    <a ng-repeat="foto in fotos" ng-href="/files/media/{{ foto.image }}">
        <img ng-src="/files/media/{{ foto.thumbnail}}"
            title="photo1 title">
    </a>
</div>
{% endverbatim %}
{% block ExtraJS %}
   <script src="{% static 'mainpage/script/photobox/jquery.photobox.js' %}"></script>
{% endblock %}
