
       <div id="afisha">
           {% verbatim %}
           <div data-ng-include data-sr="'/views/afisha.html'"></div>
           {% endverbatim %}
       </div>
       <div id="news"></div>
       <!--
        <div id="post_wrapper">  
        </div>
       </div>-->
       <div id="sidebar">
           <div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 0, width: "auto", height: "400", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 20003922);
</script>
       </div>
       <div id="footer"></div>
