/* app css stylesheet */
body {
  padding: 10px 50px;
}
@import url(http://fonts.googleapis.com/css?family=Lato);
@font-face {
  font-family: Romul;
  src:url(UJ1XhyBO.ttf);
}
@font-face {
  font-family: Merriweather;
  src:url(7gpmbD3T.ttf)
}

@font-face {
  font-family: Bezpredmetizm;
  src:url(bVxo6LPG.ttf)
}

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/*| Navigation |*/
nav {
  position: absolute;
  z-index: 1;
  top: 220px;
  left: 0px;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  position: relative;
  float: right;
  margin-right: 100px;
  margin-bottom: -1px;
  display: inline-table;
}

nav ul li {
  float: left;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

nav ul li:hover {
  background: rgba(0, 0, 0, 0.15);
}

nav ul li:hover > ul {
  display: block;
}

nav ul li {
  float: left;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

nav ul li a {
  display: block;
  padding: 20px 25px;
  color: #222;
  font-size: .9em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul ul {
  display: none;
  background: #fff;
  position: absolute;
  top: 100%;
  box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

nav ul ul li {
  float: none;
  position: relative;
}

nav ul ul li a {
  padding: 15px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

nav ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}
.album_picture {
  float: left;
  height: 50px;
  width: 50px;
}

.album_content {
  height: auto;
}
.album_title {
  height: 30px;
  padding-left: 70px;
}
.album_year {
  padding-left: 70px;
}
.audio_title {
  padding-bottom: 10px;
}

.audio_album {
  margin:10px;
  padding:10px;
}

.audio_album h3 {
  margin:10px;
  padding:10px;
}

.audio_wrapper {
  margin:10px;
  padding:10px;
}
.slidedown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slidedown.ng-enter,
.slidedown.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.slidedown.ng-enter {
    top: -100%;
}
.slidedown.ng-enter-active {
    top: 0;
}
.slidedown.ng-leave {
    top: 0;
}
.slidedown.ng-leave-active {
    top: 100%;
}

#afisha {
  float:left;
  width: 20%;
  margin:5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: table-cell;

}

#container {
  width:100%;
  height: auto;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display:table;
}

#main {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  margin: auto;
  padding:7px;

}

#footer {
  clear: both;
  width: 99%;
  height: 70px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 7px;
}

#header {
  position: relative;
  width: 100%;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: auto;
  box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.1);
  
}

#mainmenu {

}

#news {
  padding: 25px 10px 20px 10px ;
  height: 600px;
  float:left;
  width: 49.45%;
  margin:5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: table-cell;
}

#info {
  position: absolute;
  top: 285px;
  left: 0px;
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);


}

#sidebar {
  float:left;
  width: 28%;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: auto;
}
.news_title {
  padding:0px 20px 10px 5px;

}

#album_div {
  overflow: hidden;
  width: 95%;
  padding:5px;
  margin:10px;

}

